.toggleSwitch {
    position: relative;
    cursor: pointer;
    padding: 8px;
    background: var(--background);
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}


.light {
    visibility: hidden;
}

.circle {
    position: absolute;
    left: 8px;
    top: 8px;
    fill: var(--text);
    transition: left 0.2s ease-in-out;
}

[data-theme="dark"] .circle {
    right: 8px;
    left: 34px;
}


[data-theme="dark"] .dark {
    visibility: hidden;
}

[data-theme="dark"] .light {
    visibility: visible;
}

[data-theme="dark"] .toggleCircle {
    left: 26px;
}